#main{
	border: 1px solid #555;
	padding: 2px;
	display: flex;
	min-height: 500px;
}

.container{
	border: 1px solid #555;
	padding: 2px;
}

.title{
	 border-bottom: 1px solid #555;
	 min-height: 30px;
	 text-align: center;
}

#approximations{
	flex-basis: 250px;
}

#chart{
	flex-grow: 1;
}

#datasets{
	flex-basis: 250px;
}
